.search-container {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 999px;
    padding: 30px;
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    box-sizing: border-box;

    box-shadow:
        inset 2px 2px 5px rgba(0, 0, 0, 0.3),
        inset -2px -2px 5px rgba(255, 255, 255, 0.8);
}

.icon {
    font-size: 18px;
    margin-right: 10px;
    color: #888;
}

.search-container input {
    border: none;
    outline: none;
    background: transparent;
    flex: 1;
    font-size: 16px;
    color: #333;
}

.search-container input::placeholder {
    color: #aaa;
}