.search-container {
    display: flex;
    align-items: center;
    background-color: var(--bg-color);
    border-radius: 999px;
    padding: 30px;
    margin: 50px auto;
    box-sizing: border-box;

    box-shadow: var(--neumorphic-inner);
}

.icon {
    font-size: 18px;
    margin-right: 10px;
    color: var(--text-muted);
}

.search-container input {
    border: none;
    outline: none;
    background: transparent;
    flex: 1;
    font-size: 16px;
    color: var(--text-main);
}

.search-container input::placeholder {
    color: var(--text-muted);
    opacity: 0.6;
}
