<div class="feature-container">
    <div class="header-section">
        <span class="badge">featuring this week</span>
        <h1 class="main-title"> {{title}} </h1>
        <p class="description">{{description}}</p>

        <div class="actions">
            <app-button iconPath="home icon.svg" label="Book Now" variant="primary" [routerLink]="['/movie', id]" />
            <app-button iconPath="home icon.svg" label="Watch Trailer" variant="secondary" />
            <!-- <button class="btn btn-primary">
                <img src="home icon.svg" class="icon-primary"> Book Now
            </button>
            <button class="btn btn-secondary">
                <img src="home icon.svg"> Watch Trailer
            </button> -->
        </div>
    </div>

    <div class="banner-well">
        <img [src]="poster" class="banner-img">
    </div>
</div>