<div class="auth-container container">
  <div class="auth-card main-section">
    <div class="sparkle-icon">
      <span class="mask-icon" style="mask-image: url('/assets/icons/stars.svg'); -webkit-mask-image: url('/assets/icons/stars.svg');"></span>
    </div>

    <h2 class="page-title sharp-font-boldest">Sign up</h2>

    <div class="profile-wrapper">
      <div class="profile-avatar-container">
        <div class="profile-circle">
          <span class="mask-icon" style="mask-image: url('/assets/icons/user.svg'); -webkit-mask-image: url('/assets/icons/user.svg');"></span>
        </div>
        <button type="button" class="edit-btn">
          <span class="mask-icon" style="mask-image: url('/assets/icons/Icon.svg'); -webkit-mask-image: url('/assets/icons/Icon.svg');"></span>
        </button>
      </div>
    </div>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="auth-form" autocomplete="off">
      <div class="form-row">
        <div class="form-group">
          <label class="sharp-font-bold">Name</label>
          <input
            type="text"
            formControlName="name"
            placeholder="user name"
            [class.is-invalid]="signupForm.get('name')?.invalid && signupForm.get('name')?.touched"
          />
          @if (signupForm.get('name')?.invalid && signupForm.get('name')?.touched) {
            @if (signupForm.get('name')?.hasError('required')) {
              <small class="error-text">name field is required</small>
            } @else if (signupForm.get('name')?.hasError('minlength')) {
              <small class="error-text">name must be at least 3 characters</small>
            }
          }
        </div>

        <div class="form-group">
          <label class="sharp-font-bold">Email</label>
          <input
            type="email"
            formControlName="email"
            placeholder="user@example.com"
            autocomplete="off"
            [class.is-invalid]="
              signupForm.get('email')?.invalid && signupForm.get('email')?.touched
            "
          />
          @if (signupForm.get('email')?.invalid && signupForm.get('email')?.touched) {
            @if (signupForm.get('email')?.hasError('required')) {
              <small class="error-text">email field is required</small>
            } @else if (signupForm.get('email')?.hasError('email')) {
              <small class="error-text">Please enter a valid email format</small>
            }
          }
        </div>
      </div>

      <div class="form-group">
        <label class="sharp-font-bold">Password</label>

        <div class="password-container">
          <input
            [type]="isPasswordVisible ? 'text' : 'password'"
            formControlName="password"
            placeholder="••••••••"
            autocomplete="new-password"
            [class.is-invalid]="
              signupForm.get('password')?.invalid && signupForm.get('password')?.touched
            "
          />

          <button type="button" class="eye-btn" (click)="togglePasswordVisibility()" tabindex="-1">
            <i class="bi" [ngClass]="isPasswordVisible ? 'bi-eye-slash' : 'bi-eye'"></i>
          </button>
        </div>

        @if (signupForm.get('password')?.invalid && signupForm.get('password')?.touched) {
          @if (signupForm.get('password')?.hasError('required')) {
            <small class="error-text">password field is required</small>
          } @else if (signupForm.get('password')?.hasError('minlength')) {
            <small class="error-text">Password must be at least 6 characters</small>
          }
        }
      </div>

      <div class="form-group">
        <label class="sharp-font-bold">Phone Number</label>
        <input
          type="text"
          formControlName="phone"
          placeholder="+201121024949"
          [class.is-invalid]="signupForm.get('phone')?.invalid && signupForm.get('phone')?.touched"
        />
        @if (signupForm.get('phone')?.invalid && signupForm.get('phone')?.touched) {
            @if(signupForm.get('phone')?.hasError('required')) {
              <small class="error-text">Phone Number is required</small>
            } @else if (signupForm.get('phone')?.hasError('pattern')) {
              <small class="error-text">Please enter a valid phone number format</small>
            }
          }
        
      </div>

      <div class="submit-wrapper">
        <button type="submit" class="my-primary-button" [disabled]="signupForm.invalid" style="width: 100%; display: flex; justify-content: center; align-items: center; gap: 10px;">
          <span class="mask-icon" style="mask-image: url('/assets/icons/login-02.svg'); -webkit-mask-image: url('/assets/icons/login-02.svg'); width: 24px; height: 24px; background-color: white;"></span>
          Sign Up Now
        </button>
      </div>
      
      <div style="text-align: center; margin-top: 20px;" class="sharp-font-bold">
        <span style="color: var(--text-muted);">Already have an account? </span>
        <a routerLink="/sign-in" style="color: var(--primary-accent-800); text-decoration: none">Sign In</a>
      </div>
    </form>
  </div>
</div>