<footer class="footer">
    <div class="footer-container">

        <div class="brand">
            <div class="logo">
                <img src="logo icon.svg" class="icon">
                <span class="title">CinePremium</span>
            </div>
            <p class="tagline">
                Redefining the cinematic experience<br />
                through tactile luxury and technological<br />
                precision.
            </p>
        </div>

        <div class="links">
            <a routerLink="/movies">Movies</a>
            <a routerLink="/showtimes">Showtimes</a>
            <a routerLink="/giftCards">Gift Cards</a>
            <a routerLink="/privacyPolicy">Privacy Policy</a>
        </div>

        <div class="copyright">
            © 2024 CinePremium Ultra-Luxe. All rights reserved.
        </div>

    </div>
</footer>