.seat {
  width: 100%;
  max-width: 40px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: var(--btn-clicked);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  margin: 0 auto;
}
.seat.taken {
  background-color: var(--unavailable-seat);
  box-shadow: var(--inner-shadow);
  cursor: not-allowed;
}

.seat.selected {
  background-color: var(--selected-green);
  box-shadow: var(--inner-shadow-selected);
}

.check-mark {
  color: white;
  font-size: 14px;
  opacity: 0.8;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.seat:not(.taken):hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .seat {
    width: min(26px, calc((100vw - 77px) / 8));
    height: min(26px, calc((100vw - 77px) / 8));
  }

  .check-mark {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .seat {
    width: min(18px, calc((100vw - 184px) / 8));
    height: min(18px, calc((100vw - 184px) / 8));
  }

  .check-mark {
    font-size: 11px;
  }
}
