<header class="header">
  <div class="container">
    <div class="logo">
      <img src="logo icon.svg" class="icon">
      <span class="brand sharp-font-boldest">CinePremium</span>
    </div>
    <nav class="nav">
      <app-button routerLink="/home" label="Home" iconPath="home icon.svg" variant="secondary"></app-button>
      <app-button routerLink="/movies" label="Movies" iconPath="movies icon.svg" variant="secondary"></app-button>
    </nav>
    <div class="actions">
      <app-button variant="icon-only" iconPath="theme icon.svg" (btnClick)="changeTheme()"></app-button>
      @if(isUserLoggedIn) {
        <app-button routerLink="/profile" label="Profile" iconPath="sign up icon.svg" variant="secondary"></app-button>
        <app-button label="Logout" iconPath="logout-02.svg" variant="secondary" (btnClick)="logOut()"></app-button>
      } @else {
        <app-button routerLink="/sign-up" label="Sign Up" iconPath="sign up icon.svg" variant="secondary"></app-button>
        <app-button routerLink="/sign-in" label="Login" iconPath="log in icon.svg" variant="secondary"></app-button>
      }
    </div>
  </div>
</header>