.features,
.upcoming,
.now-showing {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.now-showing {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.features-title {
    width: 1242px;
    height: 63px;
    justify-content: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #3B061C;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.upcoming-title,
.now-showing-title {
    width: 1242px;
    height: 63px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #3B061C;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}