.main-title {
    justify-content: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    color: var(--text-main);

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.description {
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;

    color: var(--text-muted);

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.movies-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    justify-items: center;
    margin-bottom: 30px;
}

@media (max-width: 1024px) {
    .main-title {
        font-size: 32px;
        line-height: 40px;
        margin-top: 34px;
    }

    .movies-container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 768px) {
    .main-title {
        font-size: 28px;
        line-height: 36px;
        margin-top: 20px;
    }

    .description {
        font-size: 14px;
        margin-bottom: 10px;
        padding: 0 6px;
    }

  .movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 24px;
    width: 100%;
}
}
